*{
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right, #127004, #3f6b00, #576600, #6a6000, #785a00, #835700, #8f5300, #9b4e05, #ad4900, #bf4000, #d33203, #e71310);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

h1{
  text-align: center;
  background-color: #fff;
}

h1::after, h1::before{
  font-size: 60%;
  content: " 🍕 Bonna Pizza 🍕 Bonna Pizza 🍕 "
}

h2{
  padding-left: 20px;
  margin-top: 0;
  background-color: #e7e7e7;
  border-radius: 10px;
}

ul, span{
  display: inline;
  padding-left: 6px;
  margin: 0;
}

li{
  display: inline;
  padding-left: 6px;
}

li::after{
  content: ",";
}

li:last-child::after{
  content: "";
}

input[id^="valor"]{
  font-size: 105%;
  margin-top: 10px;
  width: 80%;
  border: none;
}

table{
  text-align: left;
}

.container {
  padding: 5px 5px 10px 5px;
  margin: 30px 10px 10px 10px;
  background-color: white;
  border-radius: 10px;
  border: solid;
  display: flex;
  flex-direction: column;
}

.column{
  margin: 10px;
}

fieldset{
  display: flex;
  flex-direction: row;
}

.column-fieldset{
  width: 50%;
}

.row{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

#inputPropina{
  width: 45%;
}

#btnEnviarPedido{
  width: 45%;
  text-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .column{
    width: 50%;
    margin: 10px;
  }
  .container{
    display: flex;
    flex-direction: row;
  }
  table{
    font-size: 120%;
  }
  table input, #inputPropina, #btnEnviarPedido{
    font-size: 120%;
  }
  #total-container {
    font-size: 150%;
  }
}